.q2-wrapper {
    background: $qbgcolor;

    .q2-block {
        width: 100px;
        height: 100px;
        margin: 10px;
        background: $qblkcolor;
    }

    /* Add your code after this line */

}
